<form class="user-form" role="form" (submit)="save()" [formGroup]="userForm" >

    <tzd-angular-image-picker name="avatar" formControlName="avatar" [multiple]="multiple" type="blob" [debug]="true" (close)="changeImageMode = false"></tzd-angular-image-picker>

    <mat-input-container>
        <input matInput type="text" name="name" formControlName="name" placeholder="name" autofocus="true" tabindex="1"/>
        <mat-hint *ngIf="userForm.controls.name.touched && userForm.controls.name.errors?.required">
                Please, fill the Name field
        </mat-hint>
    </mat-input-container>

    <div class="checkbox-container">
        <mat-checkbox name="isAdmin" formControlName="isAdmin" color="warn">Admin</mat-checkbox>
    </div>

    <div *ngIf="!user.id">
        <mat-input-container>
            <input matInput type="text" name="username" formControlName="username" placeholder="username" autofocus="true" tabindex="1"/>
            <mat-hint *ngIf="userForm.controls.username.touched && userForm.controls.username.errors?.required">
                    Please, fill the Username field
            </mat-hint>
            <mat-hint *ngIf="userForm.controls.username.touched && userForm.controls.username.errors?.notUnique">
                    This username is not available. Choose another username.
            </mat-hint>
        </mat-input-container>

        <mat-input-container>
            <input matInput [type]="userForm.controls.showPassword.value ? 'text' : 'password'" name="password" formControlName="password" placeholder="password" autofocus="true" tabindex="1"/>
            <mat-hint *ngIf="userForm.controls.password.touched && userForm.controls.password.errors?.required">
                    Please, fill the Password field
            </mat-hint>
        </mat-input-container>

        <div class="checkbox-container">
            <mat-checkbox name="isAdmin" formControlName="showPassword" >Show password</mat-checkbox>
        </div>
    </div>

    <p>
        <button *ngIf="user.id" [disabled]="user.username == 'admin'" type="button" mat-icon-button color="warn" (click)="userService.delete(user)">
    		<mat-icon class="example-icon">delete</mat-icon>
    	</button>

        <button mat-raised-button type="submit" color="primary" [disabled]="!userForm.valid">Save</button>
    </p>
</form>
