<div class="image-picker-wrapper">
	<div *ngIf="(initialModelImages && !changeImageMode) else pickImages">

		<div [ngSwitch]="multiple ? true : false" class="click" (click)="changeImageMode = true">
			<div *ngSwitchCase="true" class="multiple-images-container">
				<div class="multiple-images-image" *ngFor="let initialModelImage of initialModelImages">
					<img [src]="initialModelImage">
				</div>
			</div>
			<div *ngSwitchCase="false">
				<img [src]="initialModelImages">
			</div>
		</div>

	</div>

	<ng-template #pickImages>
		<div *ngIf="files">
			<button type="button" md-mini-fab color="default" (click)="onClose()">
				<md-icon>close</md-icon>
			</button>
			<div *ngFor="let file of files; let i = index;" class="tzd-image-picker-image">
				<tzd-image-picker-image
					maxWidth="1080"
					maxHeight="1080"
					[debug]="debug"
					[file]="file"
				></tzd-image-picker-image>
			</div>
		</div>

		<form role="form" enctype="multipart/form-data">
			<input id="files" name="files" type="file" [multiple]="multiple" #fileUpload hidden="true" (change)="updateFilesToLoad($event)">
		</form>

		<div *ngIf="!files" class="text-center">
			<button type="button" md-mini-fab color="accent" (click)="fileUpload.click(); $event.stopPropagation();">
				<md-icon>add</md-icon>
			</button>
			<button type="button" md-mini-fab color="default" (click)="onClose()">
				<md-icon>close</md-icon>
			</button>
			<div [ngSwitch]="multiple ? true : false">
				<p *ngSwitchCase="true">Select one or more images</p>
				<p *ngSwitchCase="false">Select one image</p>
			</div>
		</div>
	</ng-template>


</div>
