.image-picker-wrapper {
  padding: 16px 0;

  .click {
    cursor: pointer;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    margin-bottom: 16px;
  }

  .multiple-images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .multiple-images-image {
      flex: 1 auto;
      max-width: 48%;

      &:first-of-type {
        max-width: 100%;
      }

      img {
        width: 100%;
      }
    }
  }
}

