<div class="angular-image-picker-image-wrapper">
    <div *ngIf="imageBeforeBase64" title="image before effect" class="angular-image-picker-image">
        <img [src]="imageBeforeBase64">
    </div>
    <div *ngIf="imageAfterBase64" title="image after effect" class="angular-image-picker-image">
        <img [src]="imageAfterBase64">
    </div>
</div>

<div>
    <h3>Choose an effect</h3>

    <div >
        <button type="button" md-raised-button color="default" (click)="setEffect()">
            Reset
        </button>
        <button *ngFor="let effect of effects" type="button" md-raised-button color="accent" (click)="setEffect(effect.effect)">
            {{effect.name}}
        </button>
    </div>
    
    <form role="form" [formGroup]="imageForm">
        <div>
            <input type="number" min="0" max="255" name="" value="0" formControlName="redScale" placeholder="Redscalse">
        </div>
        <div>
            <input type="number" min="0" max="255" name="" value="0" formControlName="greenScale" placeholder="Greenscalse">
        </div>
        <div>
            <input type="number" min="0" max="255" name="" value="0" formControlName="blueScale" placeholder="Bluescalse">
        </div>
    </form>

</div>
